.data__container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 25px;
    background-color: #EBEFF0FF;
}

.error__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    color: $redColor;
}

.data__title {
    max-width: 560px;
    width: 100%;

    h1 {
        color: $darkColor;
        font-size: 23px;
        line-height: 140%;
    }

    span {
        font-weight: 600 !important;
        color: $darkColor;
        font-size: 24px;
        line-height: 140%;
    }
}

.form__data {
    width: 100%;
    margin-top: 30px;

    .data__selects {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .form__input {
        width: 100%;
    }

    .home {
        width: 100%; 
    }
}

.data__name {
    margin-top: 50px;
    max-width: 344px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500 !important;
        line-height: 140%; 
        color: $darkColor;
    }
    
    .data__btns {
        display: flex;

        button {
            padding: 12px 24px;
            border: 0;
            outline: 0;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }

    .data__btn01 {
        border-radius: 6px 0 0 6px;
    }

    .data__btn02 {
        border-radius: 0 6px 6px 0;
    }
}

.main-form__colume {
    display: flex;
    flex-direction: column;
    gap: 0px !important;
}

.form-image__row {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image__card {
    width: 170px;
    height: 170px;
    border-radius: 6px;
    background-color: #E5E8E8; //#E5E8E8
    position: relative;
    overflow: hidden;

    img {
        order: 1;
        width: 170px;
        height: 170px;
        object-fit: cover;
        z-index: -1;
        border-radius: 6px;
    }
}

.creat--card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 6px;
    background-color: #E5E8E8; //#E5E8E8
    position: relative;
    // border: 1px solid #d00;

    label {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 5;
    }

    .card__icon {
        width: 93px;
        height: 93px;   
    
        img {
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 40px;
        }

        p {
            font-size: 14px;
            text-align: center;
        }
    }
}

.form__row {
    margin-top: 30px;
    width: 100%;

    label {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        color: #2C3E50;
    }

    input {
        margin: 10px 0;
        width: 100%;
        padding: 13px 20px;
        border-radius: 6px;
        border: 1px solid #2C3E50;
        background-color: $whiteColor;

        &::placeholder {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            color: #7F8C8D;
        }
    }

    select {
        width: 100%;
        margin: 10px 0;
        width: 100%;
        padding: 10px 20px;
        border-radius: 6px;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: 50%;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        color: #2C3E50;
        border: 1px solid #2C3E50;
        background-color: $whiteColor !important;
        cursor: pointer;
    }
}

.form-number__first {
    .input__box {
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid #2C3E50;
        background-color: $whiteColor;
        padding: 3px 15px;
        border-radius: 6px;
        margin: 10px 0;
    }

    input {
        padding: 0 5px;
        border: 0;
        background-color: transparent;
        outline: 0;
    }

    img {
        width: 20px;
        height: 20px;
    }
}

.form-submit__row {
    margin-top: 30px;
    width: 100%;

    button {
        width: 100%;
        padding: 15px;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #2C3E50;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: #fff;
    }
}