@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-size: initial;
  font-weight: initial;
}

body {
  font-family: "San Francisco Pro";
  background-color: #ffffff;
}
body .container {
  padding: 50px 20px;
}

.over {
  color: #2C3E50;
  background-color: #E5E8E8;
}

.out {
  color: #fff;
  background-color: #2C3E50;
}

.remove--add {
  display: none;
}

#file-01 {
  display: none;
}

.inputNewFile {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.data__container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 25px;
  background-color: #ebeff0;
}

.error__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #E74C3C;
}

.data__title {
  max-width: 560px;
  width: 100%;
}
.data__title h1 {
  color: #2C3E50;
  font-size: 23px;
  line-height: 140%;
}
.data__title span {
  font-weight: 600 !important;
  color: #2C3E50;
  font-size: 24px;
  line-height: 140%;
}

.form__data {
  width: 100%;
  margin-top: 30px;
}
.form__data .data__selects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.form__data .form__input {
  width: 100%;
}
.form__data .home {
  width: 100%;
}

.data__name {
  margin-top: 50px;
  max-width: 344px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.data__name h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 140%;
  color: #2C3E50;
}
.data__name .data__btns {
  display: flex;
}
.data__name .data__btns button {
  padding: 12px 24px;
  border: 0;
  outline: 0;
  transition: 0.2s linear;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.data__name .data__btn01 {
  border-radius: 6px 0 0 6px;
}
.data__name .data__btn02 {
  border-radius: 0 6px 6px 0;
}

.main-form__colume {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-image__row {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.image__card {
  width: 170px;
  height: 170px;
  border-radius: 6px;
  background-color: #E5E8E8;
  position: relative;
  overflow: hidden;
}
.image__card img {
  order: 1;
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 6px;
}

.creat--card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 6px;
  background-color: #E5E8E8;
  position: relative;
}
.creat--card label {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
}
.creat--card .card__icon {
  width: 93px;
  height: 93px;
}
.creat--card .card__icon img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.creat--card .card__icon p {
  font-size: 14px;
  text-align: center;
}

.form__row {
  width: 100%;
}
.form__row label {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: #2C3E50;
}
.form__row input {
  margin: 10px 0;
  width: 100%;
  padding: 13px 20px;
  border-radius: 6px;
  border: 1px solid #2C3E50;
  background-color: #ffffff;
}
.form__row input::-moz-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #7F8C8D;
}
.form__row input:-ms-input-placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #7F8C8D;
}
.form__row input::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #7F8C8D;
}
.form__row select {
  width: 100%;
  margin: 10px 0;
  width: 100%;
  padding: 13px 20px;
  border-radius: 6px;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #2C3E50;
  border: 1px solid #2C3E50;
  background-color: #ffffff !important;
  cursor: pointer;
}

.form-number__first .input__box {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #2C3E50;
  background-color: #ffffff;
  padding: 3px 20px;
  border-radius: 6px;
  margin: 10px 0;
}
.form-number__first input {
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
}
.form-number__first img {
  width: 20px;
  height: 20px;
}

.form-submit__row {
  margin-top: 30px;
  width: 100%;
}
.form-submit__row button {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #2C3E50;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
}

@media screen and (max-width: 825px) {
  .form-image__row {
    justify-content: center;
  }
  .image__card {
    justify-self: flex-end;
    align-self: flex-end;
  }
}
@media screen and (max-width: 430px) {
  .data__title h1 {
    font-size: 20px;
  }
  .data__title h1 span {
    font-size: 20px;
  }
  .data__title h1 br {
    display: none;
  }
  .data__btns button {
    padding: 12px 24px !important;
    font-size: 14px !important;
  }
  .data__name {
    margin-top: 40px;
  }
  .creat--card {
    width: 300px;
    height: 300px;
  }
  .image__card {
    width: 300px;
    height: 300px;
  }
  .image__card img {
    max-width: 300px;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .remove--card {
    display: none;
  }
  .form__row label {
    font-size: 16px;
  }
  .form__row input {
    padding: 10px 16px !important;
  }
  .form__row input::-moz-placeholder {
    font-size: 14px !important;
  }
  .form__row input:-ms-input-placeholder {
    font-size: 14px !important;
  }
  .form__row input::placeholder {
    font-size: 14px !important;
  }
  .form__row select {
    padding: 9px 16px !important;
    font-size: 14px !important;
  }
  .input__box {
    padding: 0 20px !important;
  }
  .input__box input {
    padding: 0 !important;
  }
  .input__box input::-moz-placeholder {
    font-size: 14px !important;
  }
  .input__box input:-ms-input-placeholder {
    font-size: 14px !important;
  }
  .input__box input::placeholder {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=main.css.map */