@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  font-size: initial;
  font-weight: initial;
}

body {
  font-family: "San Francisco Pro";
  background-color: #ffffff;
}
body .container {
  padding: 50px 20px;
}

.over {
  color: #2C3E50;
  background-color: #E5E8E8;
}

.out {
  color: #fff;
  background-color: #2C3E50;
}

.data__container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 25px;
  background-color: #ebeff0;
}

.data__title {
  max-width: 560px;
  width: 100%;
}
.data__title h1 {
  color: #2C3E50;
  font-size: 23px;
  line-height: 140%;
}
.data__title span {
  font-weight: 700 !important;
  color: #2C3E50;
  font-size: 24px;
  line-height: 140%;
}

.form__data {
  width: 100%;
  margin-top: 30px;
}
.form__data .data__selects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.form__data .form__input {
  width: 100%;
}
.form__data .home {
  width: 100%;
}

.data__name {
  margin-top: 50px;
  max-width: 344px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.data__name h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 140%;
  color: #2C3E50;
}
.data__name .data__btns {
  display: flex;
}
.data__name .data__btns button {
  padding: 12px 24px;
  border: 0;
  outline: 0;
  transition: 0.2s linear;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.data__name .data__btn01 {
  border-radius: 6px 0 0 6px;
}
.data__name .data__btn02 {
  border-radius: 0 6px 6px 0;
}

.main-form__colume {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-image__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.image__card {
  width: 170px;
  height: 170px;
  border-radius: 6px;
  background-color: #E5E8E8;
  position: relative;
  border: 1px solid #d00;
}
.image__card img {
  order: 1;
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.creat--card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  border-radius: 6px;
  background-color: #E5E8E8;
  position: relative;
  border: 1px solid #d00;
}
.creat--card label {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
}
.creat--card .card__icon {
  width: 93px;
  height: 93px;
}
.creat--card .card__icon img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.creat--card .card__icon p {
  font-size: 14px;
  text-align: center;
}

#file-01 {
  display: none;
}

@media screen and (max-width: 788px) {
  .images {
    grid-template-columns: 170px 170px 170px !important;
  }
}
@media screen and (max-width: 620px) {
  .data__container {
    max-width: 700px;
    width: 100%;
  }
  .data__title {
    max-width: 300px !important;
    width: 100%;
  }
  .data__title h1 {
    font-size: 20px;
  }
  .data__title h1 span {
    font-size: 20px;
  }
  .data__title h1 br {
    display: none;
  }
}
@media screen and (max-width: 606px) {
  .images {
    grid-template-columns: 250px 250px !important;
    justify-content: center !important;
  }
  .image {
    max-width: 250px;
    width: 100%;
    height: 170px;
  }
  .imageEl {
    max-width: 250px !important;
    width: 100%;
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: center !important;
       object-position: center !important;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 30px 10px !important;
  }
  .data__container {
    padding: 20px 20px;
  }
  .data__name {
    margin-top: 30px;
  }
  .images {
    grid-template-columns: 320px !important;
  }
  .images .default__slider {
    display: none;
  }
  .image, .image__select {
    max-width: 320px !important;
    width: 100%;
    height: 320px;
  }
  .imageEl {
    max-width: 320px !important;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: center !important;
       object-position: center !important;
  }
  .input__title {
    font-size: 16px;
  }
  .home {
    width: 100% !important;
    padding: 10px 16px !important;
    font-size: 14px !important;
  }
  .number__input {
    padding: 10px 16px !important;
  }
  .number__input .form__input {
    padding: 0 !important;
  }
  .form__input {
    padding: 10px 16px !important;
  }
  .form__input::-moz-placeholder {
    font-size: 14px !important;
  }
  .form__input:-ms-input-placeholder {
    font-size: 14px !important;
  }
  .form__input::placeholder {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 360px) {
  .data__btns button {
    padding: 10px 13px !important;
    font-size: 13px !important;
  }
  .images {
    grid-template-columns: 1fr !important;
  }
  .image {
    max-width: 270px !important;
    width: 100%;
    height: 270px !important;
    overflow: hidden;
  }
  .imageEl {
    max-width: 290px !important;
    width: 100% !important;
    height: 290px !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: center !important;
       object-position: center !important;
  }
}/*# sourceMappingURL=main.css.map */