*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-size: initial;
    font-weight: initial;
}

body {
    font-family: 'San Francisco Pro';
    background-color: $whiteColor;

    .container {
        padding: 50px 20px;
    }
}

.over {
    color: $darkColor;
    background-color: #E5E8E8;
}

.out {
    color: #fff;
    background-color: $darkColor;
}

.err--active {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: $redColor;
}

.err--remove {
    display: block;
}